build/
build_release/
*.user
.vscode/
*.autosave
*.pro.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
.DS_Store
Thumbs.db
*.stash
*.qm
*.o
*.obj
*.exe
*.dll
*.pdb
*.a
6.4.2/
!libs/**/*.dll
!mdk-sdk/**/*.dll

!libs/**/*.so
!libs/**/*.so.*
!libs/**/*.lib
